.AlarmPage > .EditPage > .TopMenu {
	height: 10vh;
	position: relative;
	margin-left: 7vw;
	margin-right: 7vw;
	margin-bottom: 5vh;
}

.AlarmPage > .EditPage > .TopMenu > .Cancel {
	position: absolute;
	left: 0;
	top: 5vh;
	transform: translateY(-50%);
	font-size: x-large;
}

.AlarmPage > .EditPage > .TopMenu > .Enter {
	position: absolute;
	right: 0;
	top: 5vh;
	transform: translateY(-50%);
	font-size: x-large;
}

.AlarmPage > .EditPage > .Form {
	width: 80vw;
	height: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.AlarmPage > .EditPage > .Form > .Label {
	align-self: center;
	justify-self: center;
	font-size: large;
}

.AlarmPage > .EditPage > .Form > .Input {
	width: 50vw;
	align-self: center;
	justify-self: center;
	font-size: xx-large;
	background-color: white;
	color: black;
}

.AlarmPage > .TopMenu {
	height: 10vh;
	position: relative;
	margin-left: 7vw;
	margin-right: 7vw;
	margin-bottom: 5vh;
}

.AlarmPage > .TopMenu > .edit {
	position: absolute;
	left: 0;
	top: 5vh;
	transform: translateY(-50%);
	font-size: x-large;
}

.AlarmPage > .TopMenu > .add {
	position: absolute;
	right: 0;
	top: 5vh;
	transform: translateY(-50%);
	font-size: 10vw;
}

.AlarmPage {
	height: 1000vh;
}

.AlarmPage > .Alarm {
	width: 80vw;
	margin: 0 auto;
	margin-bottom: 5vh;
	display: grid;
}

.AlarmPage > .Alarm {
	grid-template-columns: 5fr 1fr;
}

.AlarmPage > .Alarm > .switch {
	grid-column-start: 2; 
	grid-column-end: 3;
	grid-row-start: 1; 
	grid-row-end: 3;
    justify-self: center;
	align-self: center;
}

.AlarmPage > .Alarm.editing > .remove {
	font-size: xx-large;
	grid-row-start: 1; 
	grid-row-end: 3;
    justify-self: center;
	align-self: center;
	color: gray;
	margin-right: 5vw;
}

.AlarmPage > .Alarm.editing > .switch {
	grid-column-start: 3; 
	grid-column-end: 4;
	grid-row-start: 1; 
	grid-row-end: 3;
    justify-self: center;
	align-self: center;
}

.AlarmPage > .Alarm.editing {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}

.AlarmPage > .Alarm > .time {
	font-size: xx-large
}